@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.link-footer, .nav-link {
  text-decoration: none;
}

.nav-link {
  color: #666666;
}

.link-footer {
  color: #FFFFFF;
}

.tratamientos {
  text-align: center;
}

.card {
  text-align: center;
}

#contacto {
  margin-bottom: 50px;
}

#contacto .form-control {
  width: 350px;
}

#contacto input {
  margin-bottom: 15px;
}

.btn-contact {
  margin-top: 15px;
  background-color: #7143FF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.especialidades {
  margin: 150px 0px;
  text-align: center;
}
.especialidades img {
  margin-bottom: 40px;
}
.especialidades h2 {
  font-size: 28px;
  font-weight: 700;
  color: #7143FF;
  margin-bottom: 30px;
}

.somos {
  padding-top: 160px;
}
.somos h3 {
  font-size: 18px;
}

.hero {
  position: relative;
  background: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.hero h1 {
  font-size: 60px;
  font-weight: 900;
}
.hero p {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

#btn-hero {
  background-color: #7143FF;
  color: #FFFFFF;
  width: 150px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}
#planes .card {
  background-color: #ececec;
  border: none;
  width: 100%;
  padding: 30px 20px;
}
#planes h3 {
  margin-bottom: 20px;
  font-weight: 600;
}
#planes span {
  text-decoration: line-through;
}

.btn-card {
  margin-top: 20px;
}
.btn-card .btn {
  background-color: #7143FF;
  color: #FFFFFF;
  border: none;
}

#p-planes {
  font-size: 20px;
}

#galeria {
  margin-bottom: 70px;
}
#galeria img {
  width: 100%;
  height: 230px;
}

#galeria .col-lg-4 {
  padding: 10px;
}

footer {
  background-color: #7143FF;
  padding: 20px 0px;
  color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}

i.bi {
  font-size: 1.5em;
  padding-right: 10px;
}

.form-control {
  display: flex;
  width: 100px;
}

.banner img {
  width: 100%;
}

.banr {
  margin-top: 90px;
}

.footer-text {
  color: #FFFFFF;
}

.bg-nav {
  background-color: #fafafa;
}

body {
  font-family: "Lato", sans-serif;
}

p {
  color: #363636;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: #7143FF;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
}

.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  transition: 0.3s;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(1, 41, 112, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #363636;
}

.team .member .member-info span {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}

.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
