footer {
    background-color: #7143FF;
    padding: 20px 0px;
    color: #FFFFFF;
    width: 100%;
    margin: 0 auto;

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

  

}


i.bi {
   font-size: 1.5em;
   padding-right: 10px;
}



.form-control {
    display: flex;
    width: 100px;
}
 

.banner img {
    width: 100%;
}

.banr {
    margin-top: 90px;
}

.footer-text {
    color: #FFFFFF;
}