footer {
    background-color: #7143FF;
    padding: 20px 0px;
    color: #FFFFFF;

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

}

.btn {
    color: #363636;
    background-color: #FFFFFF;
    border: none;
}

.form-control {
    display: flex;
    width: 200px;
}
 

.banner img {
    width: 100%;
}

.banr {
    margin-top: 90px;
}