.hero {
	position: relative;
	background: url(../img/hero.jpg);
	background-size: cover;
	background-position: center;
    min-height: 100vh;

    h1 {
        font-size: 60px;
        font-weight: 900;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }
}



#btn-hero{
    background-color: $color-btn;
    color: #FFFFFF;
    width: 150px;
    margin-top: 20px;

}

