.dark-bg {
    background-image: url('/img/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container {
    height: 100vh;
}

.titulo {
    color: $color-text;
    font-weight: 700;
    font-size: 60px;
}

#btn-hero{
    background-color: $color-btn;
    color: #FFFFFF;
    width: 150px;
    margin-top: 20px;

}

#hero-p {
    color: $color-text;
    font-weight: 500;
}