#planes .card {
    background-color: #ececec;
    border: none;
    width: 100%;
    padding: 30px 20px;
}

#planes h5 {
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: $color-h2;
    margin-bottom: 30px;
}

.btn-card {
    margin-top: 20px;

    .btn {
        background-color: #7143FF;
        color: #FFFFFF;
        border: none;
    }
}

